body {
  padding: 0;
  margin: 0;
}

html {
  background-image: linear-gradient(
      rgba(160, 160, 161, 0.5),
      rgba(109, 109, 108, 0.5)
    ),
    url('./img/bg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.75;
  letter-spacing: 0.02857em;
}
