.textCenter {
  text-align: center;
}

.bgImage {
  background-image: linear-gradient(
      rgba(160, 160, 161, 0.5),
      rgba(109, 109, 108, 0.5)
    ),
    url('../../img/bg1.jpg');

  height: 150px;
  background-position: center;
  background-size: cover;
  /* padding: 15px !important; */
}

.logo {
  font-family: 'Monoton', cursive !important;
  color: white !important;
  padding-top: 20px !important;
  /* font-family: 'Fredericka the Great', cursive; */
  /* font-family: 'Piedra', cursive !important; */
  margin-bottom: 10px !important;
}
